@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
	--color-red: #DC664C;
	--color-violet: #363485;
	--color-black: #1d1d1da3;
	--color-green: #62E06E;

	--font-titles: 'Orbitron', sans-serif;
	--font-subtitles: 'Barlow', sans-serif;
	--font-text: 'Montserrat', sans-serif;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 600;
	--font-bold: 700;
	--font-black: 900; 
}

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Mi código*/

*{
	font-family: sans-serif;
}

body {
	background-image: url('./assets/img/alexander-x-zNsHLrQO4Gg-unsplash.jpg');
	background-size: cover;
}

.cabecera {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 16px;
	text-decoration: none;
	color: var(--color-green);
	letter-spacing: 4px;
	font-family: var(--font-titles);
	font-weight: var(--font-bold);
}

main {
	display: flex;
  align-items: center;
  justify-content: center;
	min-height: 100vh;
}

/*reloj*/
#contenedor-reloj {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 32px;
	border-radius: 40px;
	color: var(--color-red);
	background-color: var(--color-black,);
}

.hora {
	vertical-align: baseline;
	font-size: 48px;
	letter-spacing: 4px;
	font-family: var(--font-titles);
	font-weight: var(--font-bold);
}

.fecha {
	vertical-align: baseline;
	font-size: 28px;
	font-family: var(--font-subtitles);
	font-weight: var(--font-regular);
}

.mensaje-tramos {
	vertical-align: baseline;
	font-size: 16px;
	letter-spacing: 5px;
	font-family: var(--font-titles);
	font-weight: var(--font-black);
	color: var(--color-violet);
}

/*Mediaqueries con los tamaños de las letras si la pantalla es más pequeña¿? Si da TIME*/