@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
	--color-red: #DC664C;
	--color-violet: #35348551;
	--color-black: #1d1d1da3;
	--color-green: #62E06E;

	--font-titles: 'Orbitron', sans-serif;
	--font-subtitles: 'Barlow', sans-serif;
	--font-text: 'Montserrat', sans-serif;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 600;
	--font-bold: 700;
	--font-black: 900; 
}

/*RESET----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Mi código---------------------------------------------------------------------------*/

*{
	font-family: sans-serif;
}

::-webkit-scrollbar {
	background-color: var(--color-black);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-green);
	border-radius: 4px;
}

body {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	transition: background-image 1s ease-in-out;
}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-top: 100px;
	margin: 40px;
	gap: 60px;
	justify-items: center;
	align-items: start;
  min-height: 100vh;
}

/*responsive-----------*/
@media (max-width: 768px) {
	main {
		grid-template-columns: 1fr;
		margin: 8px;
		gap: 20px;
	}
}
/*--------------------*/

nav {
	justify-content: space-between;
	align-items: center;
	border-radius:0 0 40px 40px;
	letter-spacing: 4px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	padding-top: 24px;
	padding-bottom: 24px;
	font-size: 24px;
	font-family: var(--font-titles);
	font-weight: var(--font-bold);
	color: #353485;
	background-color:  rgba(145, 145, 145, 0.564);
}

.menu-nav {
	display: flex;
	gap: 30px;
	align-items: center;
	padding-right: 32px;
	list-style: none;
	font-size: 12px;
}

.proyecto {
padding-left: 24px;

} 
.menu img {
	width: 24px;
	height: 24px;
}

section > div {
	width: 100%;
	max-width: 600px;
}

h2 {
	letter-spacing: 4px;
	font-family: var(--font-titles);
	font-weight: var(--font-bold);
}

.btn {
	background-color: var(--color-green);
	border: none;
	border-radius: 16px;
	padding: 12px;
	font-family: var(--font-text);
	font-weight: var(--font-bold);
}

/*Reloj---------------------------------------------------------------------------*/
.container-reloj {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	gap: 32px;
	border-radius: 40px;
	color: var(--color-red);
	background-color: var(--color-black,);
}

.hora {
	vertical-align: baseline;
	font-size: 48px;
	letter-spacing: 4px;
	font-family: var(--font-titles);
	font-weight: var(--font-bold);
}

.fecha {
	vertical-align: baseline;
	font-size: 16px;
	font-family: var(--font-subtitles);
	font-weight: var(--font-regular);
}

.mensaje-tramos {
	vertical-align: baseline;
	font-size: 16px;
	letter-spacing: 5px;
	font-family: var(--font-titles);
	font-weight: var(--font-black);
	color: rgba(255, 255, 255, 0.593);
}

/*Contraseñas---------------------------------------------------------------------------*/
.container-pass {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 40px;
	gap: 32px;
	border-radius: 40px;
	color: white;
	background-color: var(--color-black,);
}

.inContrasenas {
	display: flex;
	justify-content: center;
}

.length-min {
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-family: var(--font-subtitles);
}

.length-input {
	min-height: 36px;
	border: none;
	border-radius: 16px;
	padding-left: 16px;
	padding-right: 16px;
	font-family: var(--font-text);
}

.result-pass {
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-family: var(--font-subtitles);
}

/*Links---------------------------------------------------------------------------*/
.container-links {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 40px;
	gap: 32px;
	border-radius: 40px;
	color: white;
	background-color: var(--color-black,);
}

.container-input {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.name-input, 
.url-input {
	min-height: 40px;
	border: none;
	border-radius: 16px;
	padding-left: 16px;
	padding-right: 16px;
	font-family: var(--font-text);
}

.espacio-links {
	display: flex;
	flex-wrap: wrap;
	gap: 16px
}

.listado-url {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 16px 16px 16px 16px;  
  background-color: var(--color-violet);
  border: 2px solid var(--color-violet);
  border-radius: 16px 0px 16px 16px; 
  margin-bottom: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nombre-link {
	font-family: var(--font-subtitles);
	text-decoration: none;
	font-weight: var(--font-bold);
	color: #ffffff;
}

.btn-borrar {
	position: absolute;
	top: -4px;
	right: -4px;
	border: none;
	background: transparent;
	font-size: 16px;
	font-family: var(--font-titles);
	font-weight: var(--font-regular);
	cursor: pointer;
	color: white;
	opacity: 0;
	transition: opacity .2s ease, color .2s ease;

}

.listado-url:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 12px var(--color-black);
}

.btn-borrar:hover {
opacity: 1;
}

.nombre-link:hover {
	color: rgba(255, 255, 255, 0.593);
}

/*Weather---------------------------------------------------------------------------*/
.container-weather {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 40px;
	gap: 32px;
	border-radius: 40px;
	color: white;
	background-color: var(--color-black);
}

.hours-weather,
.hours-data {
	display: flex;
	overflow-x:scroll;
	flex: 0 0 auto;
	text-align: center;
	padding: 0 0 16px 0;
}

.current-weather {
	display: flex;
	align-items: center;
	gap: 32px;

}

.current-data {
	display:flex;
	flex-direction: column;
	align-items: baseline;
	font-size: 26px;
	font-weight: var(--font-bold);
	font-family: var(--font-subtitles);
	letter-spacing: 4px;
}

.listado-current {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 16px;
	font-size: 14px;
	font-weight: var(--font-regular);
	font-family: var(--font-text);
	color: rgba(255, 255, 255, 0.593);

}

.hora-weather {
	font-size: 14px;
	font-weight: var(--font-bold);
	font-family: var(--font-text);
	color: rgba(255, 255, 255, 0.593);
	padding-bottom: 16px;
}

.fuente {
	font-size: 10px;
	text-align: right;
}